.link {
  color: rgb(252, 252, 252);
  display: inline-flex;
  align-items: center;
  border: 1.5px solid rgb(0, 0, 0);
  border-radius: 5px;
  border: 0;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  padding: 0 10px;
}

.link:hover,
.link:focus {
  color: rgb(252, 252, 252);
}
/* @media (min-width: 320px) and (max-width: 767px) {
  .link{
    padding: 5px 10px; 
  }
}

@media (min-width: 768px) {
  .link{
    padding: 10px 15px
  }
} */
.active {
  background-color: #203175;
  color: #ffffff;
} /* */
.headerNav {
  display: flex;
  justify-content: space-between;
}
