.searchContainer {
  margin: 20px auto;
  width: 300px;
}
.searchInput {
  padding: 8px 0px 8px 10px;
  width: 280px;
  border-width: 2px;
  border-color: #3f36ff;
 
}

.searchIcon {
  color: #3f36ff;
}
