button {
  color: rgb(252, 252, 252);
}
.formLabel {
  text-align: left;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}
.registrationBtnContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.inputField {
  padding: 5px 0px 5px 30px;
  border: none;
  border-radius: 3px;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}

.inputField:hover {
  outline: 1.5px solid #3f36ff;
}
.InputIconContainer:focus-within .inputField {
  border: none;
  box-shadow: 0px 1px 11px 5px rgba(63, 54, 255, 0.5);
  outline: 1.5px solid #3f36ff;
}

.InputIconContainer {
  position: relative;
}

.formIcon {
  color: silver;
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}
.InputIconContainer:focus-within .formIcon {
  color: #3f36ff;
}
.inputFormWrapper,
.inputContainer {
  display: flex;
  flex-direction: column;
}
.inputFormWrapper {
  gap: 10px;
}
.inputContainer {
  gap: 5px;
}
