.logInForm {
  display: inline-flex;
  background-color: transparent;
  flex-direction: column;
  margin-top: 20px;
  margin: 0 auto;
  margin-top: 40px;
  border: 5px solid silver;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0px 18px 38px -5px rgba(252, 252, 252, 0.5);
}
.logInForm:focus-within {
  border-color: #3f36ff;
}

.formLabel,
button {
  color: rgb(252, 252, 252);
}
.formLabel {
  margin-bottom: 5px;
  text-align: left;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}
.logInBtnContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.errorMessage {
  color: #e1341e;
}
.inputField {
  padding: 5px 0px 5px 30px;
  border: none;
  border-radius: 3px;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}

.inputField:hover {
  outline: 1.5px solid #8d03ff;
}
.InputIconContainer:focus-within .inputField {
  border: none;
  box-shadow: 0px 1px 11px 5px rgb(141, 3, 255, 0.5);
  outline: 1.5px solid #8d03ff;
}

.InputIconContainer {
  position: relative;
}

.formIcon {
  color: silver;
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}
.InputIconContainer:focus-within .formIcon {
  color: #8d03ff;
}
.inputFormWrapper,
.inputContainer {
  display: flex;
  flex-direction: column;
}
.inputFormWrapper {
  gap: 10px;
}
.inputContainer {
  gap: 5px;
}
