.card {
  border: 2px solid #8d03ff;
  transition-property: box-shadow;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  width: 100%;
}
.card:hover {
  box-shadow: 0 1px 2px 0 rgb(252, 252, 252), 0 1px 6px -1px rgb(252, 252, 252),
    0 2px 4px 0 rgb(252, 252, 252);
}
.contactNumInfo {
  color: #8d03ff;
}
.contactNumInfoContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}
.deleteBtn {
  margin-top: 15px;
}
.contactItem { 
  flex-basis: calc((100% - 80px) / 5);
  max-width:  calc((100% - 80px) / 5); 
}
