.card {
  border: 2px solid #263ea0;
  transition-property: box-shadow;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  width: 100%;
}

.contactNumInfo {
  color: #203175;
}
.contactNumInfoContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  display: flex;
  justify-content: center;
}
.deleteBtn {
  margin-top: 15px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .contactItem {
    width: calc((100% - 20px) / 2);
  }
}

@media (min-width: 768px) and (max-width: 1127px) {
  .contactItem {
    width: calc((100% - 30px) / 3);
  }
}

@media (min-width: 1128px) {
  .contactItem {
    width: calc((100% - 45px) / 4);
  }
}

.contactNumInfo {
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardBtnContainer {
  display: flex;
  width: 100%;
}
@media (min-width: 450px) {
  .cardBtnContainer {
    justify-content: space-between;
  }
}

@media (max-width: 450px) {
  .cardBtnContainer {
    flex-direction: column;
  }
}
