.AddContactBtn {
  margin-top: 20px;
}

.formLabel {
  text-align: left;
}

.contactInput {
  padding: 5px 0px 5px 8px;
  border: none;
  padding: 13px 0px 13px 8px;
  border-radius: 6px;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}
.inputFormWrapper,
.inputContainer {
  display: flex;
  flex-direction: column;
}
.inputFormWrapper {
  gap: 10px;
}
.inputContainer {
  gap: 5px;
}
.contactInput:hover {
  outline: 1px solid #3f36ff;
}
.inputContainer:focus-within .contactInput {
  border: none;
  box-shadow: 1px 1px 3px 3px rgba(47, 84, 235, 0.5);
  outline: 1px solid #3f36ff;
}

.addContactBtn {
  margin-top: 20px;
}
