.contentStyle {
  background-color: rgb(252, 252, 252);
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  border: 2px solid #e1341e;
  padding: 20px 10px;
  border-radius: 3px;
}
@media screen and (max-width: 520px) {
  .contentStyle {
    width: 60vw;
    height: 30vh;
  }
}

@media (min-width: 521px) and (max-width: 767px) {
  .contentStyle {
    width: 50vw;
    height: 25vh;
    padding: 30px 20px;
  }
  .modalText {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .contentStyle {
    width: 40vw;
    height: 25vh;
  }
  .modalText {
    font-size: 28px;
  }
}
.contactNameAccent {
  color: #3f36ff;
}

.modalText {
  text-align: center;
  font-size: 32px;
}
.modalBtnContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.modalContantContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
