.logOutBtn {
  color: rgb(252, 252, 252);
  display: inline-flex;
  align-items: center;
  border: none;
  background-color: inherit;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}
.logOutBtn:hover, .logOutBtn:focus {
  background-color: #263ea0;
  border-radius: 3px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .logOutBtn{
    padding: 8px 10px; 
  }
}

@media (min-width: 768px){
  .logOutBtn{
    padding: 10px 15px;
  }
}
