#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}
body {
  margin: 0;
  background-color: rgb(0, 0, 0);
  max-width: 1440px;
}

*::after,
*::before {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(252, 252, 252);
  text-shadow: 4px 2px 3px rgba(164, 54, 255, 0.75);
}
h1 {
  margin-top: 20px;
}
p {
  color: rgb(252, 252, 252);
}
