/* #root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
} */
body {
  margin: 0;
  background-color: rgba(243, 240, 240, 0.939);
}

*::after,
*::before {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color:#3f36ff;
  text-shadow: 3px 2px 3px #203175;
}

h1{
  font-size: 60px;
  margin-top: 20px;
}

p {
  color:  rgb(10, 4, 4);
  font-weight: 500;
}
