.ContactList {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  gap: 20px;
  margin: 0 auto;
}
.addContactInfo {
  color: rgb(252, 252, 252);
  display: inline-block;
}
.addContactInfoItem {
  margin: 0 auto;
}
